<!DOCTYPE html>
<html ng-app="tooMuchApp">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="app.js"></script>
        <style> body { font-size: 1.2em; } </style>
        <title> Asssignment 1 </title>
    </head>

    <body>
        <h1>Asssignment</h1>
        <div ng-controller="tooMuchController">
            <input type="text" ng-model="list">
            <div>
                <button ng-click="tooMuchBtn">Check If Too Much</button>
            </div>
            <div>
                <br>
                {{isItTooMuchMessage}}
            </div>

        </div>
    </body>
</html>
        